@model MvcApplicationTest1.DAL.attachment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>attachment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.attachmentdest)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.attachmentdest)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.issue.keyname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.issue.keyname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.project.projectkey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.project.projectkey)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
