@model MvcApplicationTest1.DAL.project

@{
    ViewBag.Title = "Create";
}

<br />
<h2>Create new Project</h2>
<hr />  


@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
        

        <div class="form-group">
           
            <label class="col-md-2 control-label">Project Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.projectname, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectname)
            </div>
        </div>

        <div class="form-group">

            <label class="col-md-2 control-label">Project Key</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.projectkey, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectkey)
                <p style="color:red">@ViewBag.ErrorMessage</p>
            </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label"> Project Owner </label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.projectowner, (SelectList)ViewBag.usersqq, "Select Project Owner", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.projectowner)
              
            </div>
        </div>

        

        @*<div class="form-group">
            <label class="col-md-2 control-label">Project Type</label>

            <div class="col-md-10">
               @{ List<SelectListItem>
                    listItems = new List<SelectListItem>
                        ();
           listItems.Add(new SelectListItem
            {
              Text = "Scrum",
              Value = "scrum",
              Selected = true
             });
           listItems.Add(new SelectListItem
            {
              Text = "Kanban",
              Value = "kanban"

             });

                }

                        @Html.DropDownListFor(model => model.projecttype, listItems, "Select Project Type", new { @class = "form-control" })

            </div>
        </div>*@
     @Html.HiddenFor(model => model.projecttype, new { @Value = "scrum" })
     @Html.HiddenFor(model => model.projectleader, new { @Value = Convert.ToString(Session["UserName"]) })
        @*<div class="form-group">
            <label class="col-md-2 control-label">Scrum Master</label>
            <div class="col-md-10">


                @Html.DropDownListFor(model => model.projectleader, (SelectList)ViewBag.usersq, "Select Scrum Master", new { @class = "form-control" })

            </div>
        </div>*@
        

        @Html.HiddenFor(model => model.status, new { @Value = "open" })
         
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a class="btn btn-primary inline" href="@Url.Action("Index", "project")">Back To Projects List</a>
        </div>
    </div>
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
