@model MvcApplicationTest1.DAL.project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>project</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.projectname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.projectname)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.projectkey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.projectkey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.projectowner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.projectowner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.projecttype)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.projecttype)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.projectleader)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.projectleader)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
