@model MvcApplicationTest1.DAL.activitystream

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>activitystream</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.issueid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.issueid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.actiontype)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.actiontype)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.issuekey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.issuekey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.actiondate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.actiondate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.projectid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.projectid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.attachment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.attachment)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
